<!DOCTYPE html>
<html lang="en">
{include file="../application/index/view/public/header.html" /}
<body  onload="connect();">
<div class="big-box">
    <div class="back-icon" onclick="window.history.back(-1);"></div>
    <div class="message-box">
        <div class="message-print-box" style="margin-top: -30px;width: 100%;height: 100%;float: left;"></div>
    </div>
    <div class="send-box">
        <input class="word-box" type="text">
        <div onclick="send()" class="send-button-box">发送</div>
    </div>
</div>
</body>
<script>
    $(document).keyup(function(event){
        if(event.keyCode ==13){
            send();
        }
    });
</script>
</html>